<!DOCTYPE html>
<html>
<head>
    <title>Layer 2</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="tier2">
    <header>
        <marquee direction="up" scrollamount="5">SYSTEM INSTABILITY DETECTED </marquee>
        <h1>Welcome to My Cool Website about NANO SPALAX LEUCODON</h1>
    </header>

    <div>
        <p><strong>Fact #4:</strong> <p>Mole rats live almost their entire lives underground.</p></p>
        <p><strong>Fact #5:</strong> <p>They communicate by headbutting the tunnel walls. It’s like Morse code but angrier.</p></p>
        <p><strong>Fact #6:</strong><p>Mole rats are resistant to cancer.</p></p>
        <img src="https://thumbs.dreamstime.com/b/lesser-mole-rat-nanospalax-leucodon-ground-road-31723118.jpg" alt="">
    <button id="goBackButton" onclick="goNext('/')">Go Back</button>
    <button onclick="goNext('/layer3')">Still curious? Find out more by clicking this button Right Here!</button>
        <img src="https://www.greenlifeincroatia.com/images/Green_Life/800x600/Spalax_Leucodon.jpg" alt="">

    </div>

    <footer>
        <marquee behavior="alternate">MOLE MOLE MOLE MOLE MOLE MOLE MOLE MOLE MOLE MOLE</marquee>
    </footer>

    <script src="/static/script.js"></script>
    <script>activateMovingButton();</script>
</body>
</html>
