<!DOCTYPE html>
<html>
<head>
    <title>OOPS</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="tier3">
    <header>
        <h1>Uh OH!</h1>
        <marquee scrollamount="40">aaaaaAAAAA!!!</marquee>
    </header>

    <main>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident, unde maxime odio vitae quisquam ex beatae quas quibusdam, quam eaque, quis fugiat repellendus ipsum libero recusandae in cumque veritatis officiis.</p>
        <p>Can you still read this? Everything’s melting...</p>
        <img src="https://upload.wikimedia.org/wikipedia/commons/f/fc/Error.svg" alt="error">
    <button onclick="goNext('/layer4')">Go Deeper (if you dare)</button>
    <button id="goBackButton" onclick="goNext('/layer2')">Go Back</button>
        <img src="https://upload.wikimedia.org/wikipedia/commons/6/6a/Broken_glass.jpg" alt="no more sausage">

    </main>

    <footer>
        <p>© Y2K Systems — Please insert your AOL CD-ROM</p>
    </footer>

    <script src="/static/script.js"></script>
    <script>activateMovingButton();</script>
</body>
</html>
